<div class="table-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table" multiTemplateDataRows>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element" (click)="toggleDetails(element)"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" (click)="toggleDetails(element)"> {{element.name}} </td>
      </ng-container>

      <!-- Detail Column -->
      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef> Detail </th>
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <button [routerLink]="['/breed-detail', element.id]">Detail</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="0" [pageSize]="10" [pageSizeOptions]="[10, 20]" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
