<div class="container">
  <button [routerLink]="['/breed-list']">Breed List</button>
</div>
<div class="form-container" *ngIf="!isAuthenticated; else content">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">User Name</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="userName"
        required
        #usernameModel="ngModel"
        class="form-control"
      />
      <div *ngIf="usernameModel.invalid && (usernameModel.dirty || usernameModel.touched)" class="error">
        Username required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        #passwordModel="ngModel"
        class="form-control"
      />
      <div *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)" class="error">
        Password required
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
  </form>
</div>

<ng-template #content>
<div class="table-container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table" multiTemplateDataRows>

      <ng-container matColumnDef="breed-id">
        <th mat-header-cell *matHeaderCellDef> Breed ID </th>
        <td mat-cell *matCellDef="let element"> {{element.breedId}} </td>
      </ng-container>

      <ng-container matColumnDef="breed-name">
        <th mat-header-cell *matHeaderCellDef> Breed Name </th>
        <td mat-cell *matCellDef="let element"> {{element.breedName}} </td>
      </ng-container>

      <ng-container matColumnDef="click-count">
        <th mat-header-cell *matHeaderCellDef> Click Count </th>
        <td mat-cell *matCellDef="let element"> {{element.clickCount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSource.data.length" [pageSize]="dataSource.data.length" showFirstLastButtons></mat-paginator>
  </div>
</div>
</ng-template>


